html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,/*i,*/center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*header*/

body
{
	font-family: Helvetica, sans-serif;
	margin: 0 auto 0 auto;
	padding-top: 15px;
	background-color: #006db2;
	width: 100%;
	-webkit-text-size-adjust: none;
}

a
{
	text-decoration: none;
}


.banner_h1
{
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: #f7f7f7;
	font-size: 80px;
	line-height: inherit;
	margin-top: 30px;
}

.home_btn
{
	border:17px solid white;
	border-radius: 5px;
	background-color:white;
	text-align: center;
	padding: 5px;
	width: 120px;
	display: inline-block;
	color: #006db2;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin: 20px 10px 0px 10px;
	vertical-align: middle;
	text-decoration: none;
}

.home_btn a
{
	text-decoration: none;
	color: #006db2;
	
}

.home_btn:hover
{
	border:17px solid #bedff4;
	border-radius: 5px;
	background-color: #bedff4;;
	text-align: center;
	padding: 5px;
	width: 120px;
	display: inline-block;
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

.nav
{
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
}

.nav_img
{
	display: inline-block;
	padding:40px 20px 20px 20px;
	vertical-align: top;
	margin-left: 17px;
}

/*header*/

.resume_img
{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	margin-bottom: 0px;
	padding-top: 100px;
}

img
{
	display: inline-block;
	padding:40px 20px 20px 20px;
	vertical-align: top;
	margin-left: 17px;
	max-width:100%;
}

.about_me
{
   margin: 22px;
   padding: 10px 50px 30px 50px;
   color: #f7f7f7;
   font-family: Helvetica, sans-serif;
   font-size: 20px;
   line-height: 29px;
   text-align: center;
}

.title
{
	text-transform: uppercase;
	font-size: 25px;
	padding: 20px 10px 0px 10px;
	margin-top:15px;
	color: #f7f7f7;
	margin-bottom:0px
}

.job
{
	font-size: 20px;
	color: #f7f7f7;
	font-weight: 300;
	padding: 0px 10px 0px 10px;
	margin-top: 5px;
	line-height: 25px;
}

.description
{
	font-size: 15px;
	color: #f7f7f7;
	font-weight: 300;
	padding: 0px 20px 0px 20px;
	margin-top: 0px;
	max-width: 590px;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
}

.af
{
   padding: 0px 0px 70px 0px;
   background-color: #f3bf69;
   color: #f7f7f7;
   width: 100%;
   position: relative;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   display: block;
   clear: both;
   overflow: hidden;
   z-index: 5;
}

.pmh
{
   background-color: #009d7b;
   color: #f7f7f7;
   width: 100%;
   position: relative;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   clear: both;
   display: block;
   padding:0px 0px 70px 0px;
   z-index: 4;
}

.graves
{
   background-color: #5a5d9d;
   color: #f7f7f7;
   width: 100%;
   position: relative;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   clear: both;
   display: block;
   padding: 50px 0px 70px 0px;
   z-index: 3;
  }


.frogs
{
   background-color: #a11932;
   color: #f7f7f7;
   width: 100%;
   position: relative;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   clear: both;
   display: block;
   padding: 0px 0px 70px 0px;
   z-index: 2;
}
.web {
	padding-top: 0px;
	text-align: center;
	font-size: 26px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	
}

.web .screenshot {
	padding: 0;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	
}

.wrap, .section {
	width: 80%;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	
}
.screenshot {
	padding-top: 30px;
	line-height: 1em;
	display: inline-block;
}

.footer
{
   background-color: #006db2;
   color: #f7f7f7;
   width: 100%;
   position: relative;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   clear: both;
   display: block;
   padding: 100px 0px 100px 0px;
   z-index: 2;
}

/*@media*/

@media only screen and (max-width: 800px) {

.home_btn
{
	width: 270px;
}

.home_btn:hover
{
	width: 270px;
}
}
@media only screen and (max-width: 400px)
.nav
{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.nav_img
{
	display: inline-block;
	padding: 20px 0px 20px 0px;
}


@media only screen and (max-width: 380px) {
.resume_img
{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	margin-bottom: 0px;
	padding-top: 100px;
	max-width: 190px;
}

.home_btn
{
	width: 80px;
}

.home_btn:hover
{
	width: 80px;
}

.nav
{
	max-width: 130px;
	margin-left: auto;
	margin-right: auto;
}

.nav_img
{
	display: block;
	padding: 20px 0px 20px 0px;
}

.about_me
	{
	   padding: 20px 10px 20px 10px;
	
	}

.home_btn
{
	width: 110px;
}

.home_btn:hover
{
	width: 110px;
}

}
